.card {
    width: 71px;
    height: 96px;
    float: left;
    background: url("/images/classic-playing-cards.png") 0px -1px;
}

.card-1_1 { background-position: -1px 391px; }
.card-1_2 { background-position: -74px 391px; }
.card-1_3 { background-position: -147px 391px; }
.card-1_4 { background-position: -220px 391px; }
.card-1_5 { background-position: -293px 391px; }
.card-1_6 { background-position: -366px 391px; }
.card-1_7 { background-position: -439px 391px; }
.card-1_8 { background-position: -512px 391px; }
.card-1_9 { background-position: -585px 391px; }
.card-1_10 { background-position: -658px 391px; }
.card-1_11 { background-position: -731px 391px; }
.card-1_12 { background-position: -804px 391px; }
.card-1_13 { background-position: -877px 391px; }

.card-2_1 { background-position: -1px 293px; }
.card-2_2 { background-position: -74px 293px; }
.card-2_3 { background-position: -147px 293px; }
.card-2_4 { background-position: -220px 293px; }
.card-2_5 { background-position: -293px 293px; }
.card-2_6 { background-position: -366px 293px; }
.card-2_7 { background-position: -439px 293px; }
.card-2_8 { background-position: -512px 293px; }
.card-2_9 { background-position: -585px 293px; }
.card-2_10 { background-position: -658px 293px; }
.card-2_11 { background-position: -731px 293px; }
.card-2_12 { background-position: -804px 293px; }
.card-2_13 { background-position: -877px 293px; }

.card-3_1 { background-position: -1px 195px; }
.card-3_2 { background-position: -74px 195px; }
.card-3_3 { background-position: -147px 195px; }
.card-3_4 { background-position: -220px 195px; }
.card-3_5 { background-position: -293px 195px; }
.card-3_6 { background-position: -366px 195px; }
.card-3_7 { background-position: -439px 195px; }
.card-3_8 { background-position: -512px 195px; }
.card-3_9 { background-position: -585px 195px; }
.card-3_10 { background-position: -658px 195px; }
.card-3_11 { background-position: -731px 195px; }
.card-3_12 { background-position: -804px 195px; }
.card-3_13 { background-position: -877px 195px; }

.card-4_1 { background-position: -1px 97px; }
.card-4_2 { background-position: -74px 97px; }
.card-4_3 { background-position: -147px 97px; }
.card-4_4 { background-position: -220px 97px; }
.card-4_5 { background-position: -293px 97px; }
.card-4_6 { background-position: -366px 97px; }
.card-4_7 { background-position: -439px 97px; }
.card-4_8 { background-position: -512px 97px; }
.card-4_9 { background-position: -585px 97px; }
.card-4_10 { background-position: -658px 97px; }
.card-4_11 { background-position: -731px 97px; }
.card-4_12 { background-position: -804px 97px; }
.card-4_13 { background-position: -877px 97px; }