<div id="choosePlayer" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Choose a player to turn...</h4>
            </div>
            <div class="modal-body">
                <div data-ng-click="choosePlayer(player)" data-ng-repeat="player in players" class="">
                    <span>{{ player.name }} ({{ player.id }})</span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
