<div id="swap" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Choose a card to swap to...</h4>
            </div>
            <div class="modal-body">
                <div data-ng-click="swap(card)" data-ng-repeat="card in cardsSwap" class="card card-{{ card }}"></div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div id="table">
    <div id="deck">
        <button data-ng-if="!isSwapDone" data-ng-click="swapDone()" type="button" class="btn btn-default">Swap done!
        </button>
        <div class="card-set">
            <div data-ng-repeat="card in deckDown" class="card card-{{ card }} scaled"></div>
        </div>
    </div>
    <div data-ng-repeat="player in table.players" data-repeat-done="draw()" class="player scaled">
        <div class="player-container">
            <div class="name">{{ player.name }}</div>
            <div class="cards-container">
                <div class="cards card-set cards-hand">
                    <div data-ng-repeat="card in player.cardsHand" class="card card-{{ card.toString() }}"></div>
                </div>
                <div class="cards card-set cards-up">
                    <div data-ng-repeat="card in player.cardsUp" class="card card-{{ card.toString() }}"></div>
                </div>
                <div class="cards card-set cards-down">
                    <div data-ng-repeat="card in player.cardsDown" class="card card-{{ card.toString() }}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="hand">
    <div data-ng-click="cardClick(card)" data-ng-repeat="card in cardsAvailable" class="card card-{{ card.toString() }}"></div>
</div>