{% extends "OryzoneBoilerplateBundle::html5.html.twig" %}

{% block head_css %}
    {{ parent() }}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/bundles/ist1damfatty/css/app.css">
    <link rel="stylesheet" href="/bundles/ist1damfatty/css/cards.css">
{% endblock %}

{% block body_js %}
    {{ parent() }}
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://underscorejs.org/underscore.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular-cookies.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular-resource.min.js"></script>
    <script src="/bundles/ist1damfatty/js/config.js"></script>
    <script src="/bundles/ist1damfatty/js/app.js"></script>
    <script src="/bundles/ist1damfatty/js/controllers/indexController.js"></script>
    <script src="/bundles/ist1damfatty/js/controllers/loginController.js"></script>
    <script src="/bundles/ist1damfatty/js/controllers/navController.js"></script>
    <script src="/bundles/ist1damfatty/js/controllers/lobbyController.js"></script>
    <script src="/bundles/ist1damfatty/js/controllers/gatheringController.js"></script>
    <script src="/bundles/ist1damfatty/js/controllers/tableController.js"></script>
    <script src="/bundles/ist1damfatty/js/services/authService.js"></script>
    <script src="/bundles/ist1damfatty/js/services/fattyClientService.js"></script>
    <script src="/bundles/ist1damfatty/js/services/services.js"></script>
    <script src="/bundles/ist1damfatty/js/animations.js"></script>
    <script src="/bundles/ist1damfatty/js/directives.js"></script>
    <script src="/bundles/ist1damfatty/js/filters.js"></script>
{% endblock %}

{% block head_title %}DamFatty HTML5 Client{% endblock %}

{% block body_container_header %}
    {% raw %}
    <nav data-ng-controller="NavController" data-access-level="accessLevels.player" class="navbar navbar-default"
         role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{path('IndexController')}}">DamFatty</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <p data-ng-if="tables != null && tables.length > 0" class="navbar-text">
                    <a data-ng-click="sitDown()" href="#" class="navbar-link"><span class="glyphicon glyphicon-play-circle"></span> Play!</a>
                </p>
                <p class="navbar-text">
                    <a href="{{ path('LobbyController') }}" class="navbar-link"><span class="glyphicon glyphicon-list"></span> Lobby</a>
                </p>
                <p class="navbar-text">
                    <a href="#" class="navbar-link"><span class="glyphicon glyphicon-book"></span> Rules</a>
                </p>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                    class="glyphicon glyphicon-user"></span> {{ user.name }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#" data-ng-click="logout()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endraw %}
{% endblock %}

{% block body_container_main %}
    {% raw %}
    <div data-ng-if="!isLoading" data-ng-view="ng-view"></div>
    <div data-ng-if="isLoading">Loading...</div>
    <div data-ng-repeat="message in messages">
        <div class="alert alert-{{message.type}}">{{message.text}}</div>
    </div>
    {% endraw %}
{% endblock %}

{% block body_container_footer %}
{% endblock %}
